body {
  font-family: Arial;
  text-align: center;
}

.hidden {
  display: none !important;
}

.page {
  margin-top: 20px;
}

.card {
  background: #eee;
  padding: 15px;
  margin: 15px auto;
  width: 280px;
}

.circle {
  border-radius: 50px;
  padding: 8px 15px;
  margin: 5px;
}

.flexRow {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.eligible { color: green; }
.not-eligible { color: red; }
