body {
  font-family: Arial;
  text-align: center;
}

.hidden {
  display: none;
}

.card {
  background: #eee;
  padding: 15px;
  margin: 15px auto;
  width: 280px;
}

.eligible { color: green; }
.not-eligible { color: red; }
